body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF8F1;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 290px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #a80d0d;
}

h2 {
    color: #FAF8F1;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 100px); /* Mengatur lebar input agar ada ruang bagi tombol check */
    background-color: #FAF8F1; /* Mengganti warna latar belakang */
    border: 2px solid #333;
}

.input-container {
    display: flex;
    align-items: center;
}

.check-button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #FAF8F1;
    color: #D6AD9B;
    border: none;
    border-radius: 0 5px 5px 0; /* Mengatur border radius */
    transition: background-color 0.3s ease;
}

.check-button:hover {
    background-color: #FAF8F1;
}

p#result {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.name-box {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #a80d0d;
    border-radius: 10px;
    padding: 10px;
    width: 310px;
    text-align: center;
    font-size: 13px;
    color: #FAF8F1;
}



body {
    overflow: hidden; /* Menghilangkan scroll bars */
}

#video-background {
    position: fixed; 
    top: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100; /* Menempatkan video di bawah konten lain */
    background-color: #000; /* Warna latar belakang jika video tidak dimuat */
}